<!DOCTYPE html>
<html>
<head>
  <title>Printer Status</title>
  <link rel="stylesheet" href="./public/css/tailwind.css"> 
</head>
<body class="bg-midnight text-gray-900">
  <div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Printer Status</h1>
  <% if @fetch_printers_data && !@fetch_printers_data.empty? %>
    <% @fetch_printers_data.each do |printer| %>
      <div class="bg-white p-4 rounded shadow mb-4">
      <h2 class="text-2xl font-semibold">Printer Name: <%= printer[:alias] %></h2>
      <h3 class="text-xl">Model: <%= printer[:model] %></h3>
      <h3 class="text-xl">IP: <%= printer[:ip] %></h3>
      <p><strong>Black Toner Name: </strong><%= printer[:data]['black_toner_name'] %></p>
      <p><strong>Black Toner Capacity: </strong><%= printer[:data]['black_toner_capacity'] %></p>
      <p><strong>Black Toner Remaining: </strong><%= printer[:data]['black_toner_level'] %></p>
      <% if printer[:data]['additional_oid'] %>
        <p><strong>Impressions: </strong><%= printer[:data]['additional_oid'] %></p>
      <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No printer data available.</p>
  <% end %>
  </div>
</body>
</html>