<!DOCTYPE html>
<html>
<head>
  <title>Printer Status</title>
  <link rel="stylesheet" href="/css/tailwind-built.css"> 
</head>
<!-- Entire background color -->
<body class="bg-lt-prntr-pttrn bg-repeat">
  <!-- Nav bar -->
<nav class="bg-white dark:bg-gray-900 mb-10 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="#" class="flex items-left space-x-3 rtl:space-x-reverse">
      <img src="/images/colors-icon.png" class="h-10" alt="pallete Logo">
        <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span> -->
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get started</button>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

  <!-- Module container -->
  <div class="container shadow-2xl mx-auto rounded-xl p-6 mt-10 mb-10 bg-white-900 bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-90 border border-gray-100">
  <!-- <div class="container shadow-2xl mx-auto rounded-xl p-6 mt-10 mb-10 bg-white"> -->
      <!-- Header -->
       <h1 class="text-2xl text-left text-gray-500 font-extrabold mb-10">Ink Status.</h1>
       <!-- Printer data --> 
       <% if @fetch_printers_data && !@fetch_printers_data.empty? %>
       <!-- Grid container --> 
       <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
       <% @fetch_printers_data.each do |printer| %>
       <!-- Printer card -->
       <div class="bg-white rounded-lg border-dashed border-2 border-gray-200 p-4 shadow hover:shadow-lg transition-shadow duration-300">
                <h2 class="text-lg font-semibold mb-2"><%= printer[:alias] %></h2>
                <p class="text-gray-600">IP: <%= printer[:printer_ip] %></p>
                <p class="text-gray-600">Model: <%= printer[:model] %></p>

                <% if printer[:data] %>
                  <p class="text-gray-600">Status: <%= printer[:data][:status] %></p>
                  <p class="text-gray-600">Pages Printed: <%= printer[:data][:pages_printed] %></p>
                  <p class="text-gray-600">Toner Level: <%= printer[:data][:toner_level] %></p>
                <% else %>
                  <p class="text-red-500">No data available for this printer.</p>
                <% end %>
              </div>
            <% end %>
          </div>  
        <% else %>
          <p>No printer data available.</p>
        <% end %>
  </div>      

<!-- New Printer Button -->
<a href="/new">
  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    New Printer
  </button>
</a>
</div>


<script src="/js/flowbite.js"></script>
</body>
</html>